<!DOCTYPE html>
<html>

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.jimbeam.com/modules/custom/jb_header/src/img/logo.png?crc=0368f925">
    <title>Mystery Shopper</title>



    <!-- <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/public/css/fonts.css">

    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/jquery.dropdown.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/public/plugins/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css">


    <style>
        #loading {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: none;
            opacity: 0.7;
            background-color: #fff;
            z-index: 99;
            text-align: center;
        }
        
        #loading-image {
            position: absolute;
            top: 100px;
            left: 38%;
            z-index: 100;
        }
    </style>


    <!--[if lt IE 9]>
	<script src="/public/js/html5shiv.min.js"></script>
	<script src="/public/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="https://www.logolynx.com/images/logolynx/ed/ed1d3acb82e24035cfc431c644cd53a8.png" height="70px" width="86px" alt="">
                </a>
            </div>

            <% if(userRole == '1') { %>
                <div class="page-title-box pull-left">
                    <h3 style="font-family: 'Luthe' !important;
					margin-top: 0;">Admin</h3>
                </div>
                <% } %>
                    <% if(userRole == '2') { %>
                        <div class="page-title-box pull-left">
                            <h3 style="font-family: 'Luthe' !important;
					margin-top: 0;">Mystery Shopper</h3>
                        </div>
                        <% } %>
                            <% if(userRole == '3') { %>
                                <div class="page-title-box pull-left">
                                    <h3 style="font-family: 'Luthe' !important;
					margin-top: 0;">
                                        <%= username %>
                                    </h3>
                                </div>
                                <% } %>
                                    <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>

                                    <ul class="nav navbar-nav navbar-right user-menu pull-right">
                                        <!-- <li class="dropdown hidden-xs">
					<div class="" style="margin:20px;color:#fff;">
						<label class="radio-inline"><input type="radio" name="languageSelect" value="EN" onclick="changeLanguage()" checked>EN</label>
						<label class="radio-inline"><input type="radio" name="languageSelect" value="AR" onclick="changeLanguage()">AR</label>
					</div>

				</li> -->
                                        <li class="dropdown hidden-xs">

                                        </li>

                                        <li class="dropdown">
                                            <a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
                                                <span class="user-img"><img class="img-circle" src="/public/img/user.jpg" width="40" alt="Admin">
							<span class="status online"></span></span>
                                                <span><%= session.username %></span>

                                                <i class="caret"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <!-- <li><a href="profile.html">My Profile</a></li>
							<li><a href="edit-profile.html">Edit Profile</a></li>
							<li><a href="settings.html">Settings</a></li> -->
                                                <!-- <li><a onclick="changePassword()">Change Password</a></li> -->
                                                <li><a href="/auth/logout">Logout</a></li>

                                            </ul>
                                        </li>
                                    </ul>

                                    <div class="dropdown mobile-user-menu pull-right">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <ul class="dropdown-menu pull-right">
                                            <!-- <li><a href="profile.html">My Profile</a></li>
						<li><a href="edit-profile.html">Edit Profile</a></li>
						<li><a href="settings.html">Settings</a></li> -->
                                            <li><a href="login.html">Logout</a></li>
                                        </ul>
                                    </div>
        </div>